@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/*font-family: 'DM Sans', sans-serif;*/

html {overflow-x: hidden;scroll-behavior: smooth;}
body {font-family: 'DM Sans', sans-serif !important;}
h1{font-size: 60px;font-weight: 700;line-height: 60px;}
h2 {font-size: 60px;font-weight: 700;line-height: 45px;} 
h3 {font-size: 35px;font-weight: 700;}
h4{font-size: 30px;font-weight: 600;}
h5{font-size: 24px;font-weight: 500;}
h6 {font-size: 24px;font-weight: 700;margin-bottom: 0;}
p {font-size: 17px;font-weight: 400;margin-bottom: 0;line-height: 29px;}
ul {padding-left: 0;list-style: none;margin-bottom: 0;}
li {font-size: 15px;font-weight: 400;color: #000;}
label {font-size: 16px;font-weight: 500;color: #000;}
input {outline: none;font-weight: 400;font-size: 15px;color: #000;}
select {outline: none;font-weight: 400;font-size: 15px;color: #000;}
a {outline: none;text-decoration: none;font-size: 14px;font-weight: 600;color: #1a1a1ab0;transition: 0.6s all ease-in-out;}
a:hover, a:focus{text-decoration: none;}
.btn-primary:hover, .btn-primary:focus {background-color: #EF5375;border-color: transparent;box-shadow: none;}
.btn:not(:disabled):not(.disabled) {background-color: #EF5375;border-color: transparent;box-shadow: none;}
.compensate-for-scrollbar {position: inherit !important;margin: 0 !important;padding: 0 !important;}
.btn-primary:not(:disabled):not(.disabled):active {background-color: #EF5375;border-color: transparent;outline: none;box-shadow: none;}
.screen-bg.modal-open {margin:  0 !important;padding: 0 !important;}
.btn-primary:not(:disabled):not(.disabled):active:focus {box-shadow: none;}
/*HOME PAGE CSS BEGIN*/
/*HEADER SECTION CSS BEGIN*/
.search-bar-div a:hover {color: #01B7E3;}
.main-header-div {position: fixed;top: 0;left: 0;width: 100%;height: auto;z-index: 999;background-color: #fff;box-shadow: 0 0 2px 2px #00000038;}
header {padding: 32px 120px;position: absolute;top: 0;left: 0;width: 100%;z-index: 1;}
.head_container{padding: 0;overflow: hidden;display: flex;align-items: center;justify-content: space-between;}
.logo{float:left;margin-left: 0;}
.logo img{height: 50px;}
.menu{margin-top:5px;float:right;}
.menu ul{list-style-type: none;margin-right: -10px;}
.menu li{display: inline;margin-right: 40px;}
.menu a{text-decoration: none;font-weight: 400;color: #070707 !important;padding:10px;padding-left: 15px;padding-right: 15px;text-transform: uppercase;font-size: 17px;font-family: 'DM Sans', sans-serif;}
.menu a:hover {transition: 0.6s all ease-in-out;color: #01B7E3;}
.icon{display: none;}
menu.responsive{position: relative;}
menu.responsive{float: none;display: block;text-align: left;}
@media screen and (max-width: 835px) {
.logo img {height: 40px;}
ul > li:first-of-type{display:none;}
.menu{margin:0;}
}
@media screen and (max-width: 690px) {
.menu li{display: none;}
.icon{font-weight: 900 !important;font-size: 27px !important;padding: 0;margin: 0;margin-top: -22px;display: flex;}
.logo img {height: 40px;}
}
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #fff;overflow-x: hidden;transition: 0.2s;padding-top: 87px;box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;display: block;transition: 0.3s;text-transform: uppercase;font-size: 18px;font-family: 'Rajdhani', sans-serif;font-weight: 600;color: #1A1A1A;}
.sidenav a:hover, .offcanvas a:focus{color: #F7CA18;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#search {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-webkit-transform: translate(0px, -100%) scale(0, 0);-moz-transform: translate(0px, -100%) scale(0, 0);-o-transform: translate(0px, -100%) scale(0, 0);-ms-transform: translate(0px, -100%) scale(0, 0);transform: translate(0px, -100%) scale(0, 0);opacity: 0;z-index: 999;}
#search input[type=search] {position: absolute;top: 50%;width: 100%;color: white;background: rgba(0, 0, 0, 0);font-size: 60px;font-weight: 300;text-align: center;border: 0px;margin: 0px auto;margin-top: -51px;padding-left: 30px;padding-right: 30px;outline: none;}
#search .btn {position: absolute;top: 50%;left: 50%;margin-top: 61px;margin-left: -50px;background-color: #01B7E3;border: #01B7E3;text-transform: uppercase;font-size: 18px;font-family: 'Rajdhani', sans-serif;font-weight: 600;padding: 10px 38px;border-radius: 6px;}
#search .close {position: fixed;top: 15px;right: 15px;color: #fff;background-color: #01B7E3;border-color: #01B7E3;opacity: 1;padding: 10px 17px;font-size: 27px;}
#search.open {-webkit-transform: translate(0px, 0px) scale(1, 1);-moz-transform: translate(0px, 0px) scale(1, 1);-o-transform: translate(0px, 0px) scale(1, 1);-ms-transform: translate(0px, 0px) scale(1, 1);transform: translate(0px, 0px) scale(1, 1);opacity: 1;}
.search-bar-div a {font-size: 25px;}
/*HEADER SECTION CSS END*/
/*BANNER SECTION CSS BEGIN*/
.banner-sec {position: relative;background: url("../images/banner.png");background-repeat:no-repeat;background-size:cover;background-position:center;padding: 0 120px;height: auto;position: relative;overflow: hidden;}
.banner-sec:before {content: "";position:absolute;top:0;left:0;width: -webkit-fill-available;height: -webkit-fill-available;background-image:url("../images/banner-design.png");background-repeat:no-repeat;z-index: 0;}
.banner-inner-content p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 40px 0 30px;width: 86%;}
.banner-btn .btn-primary {font-size: 17px;font-weight: 700;color: #1F7A61 !important;font-family: 'DM Sans', sans-serif;background-color:  #fff !important;padding: 15px 65px;border-radius: 25px;}
.girl-img img {display: block;margin: 0 auto 0 auto;width: 73%;display: flex;align-items: flex-end;height: 100vh;object-fit: contain;margin-top: 124px;}
.banner-inner-content {height: 100vh;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;text-align: left;}
/*BANNER SECTION CSS END*/
/*HOW WE HELP SECTION CSS BEGIN*/
.help-imgs .row {align-items: center;}
.help-imgs .col-lg-6 {padding: 0 12px;}
.right-side {display: block;margin: 0 0 0 auto;}
.bottom-side {margin: 0 0 26px;}
.how-we-help-sec {padding: 60px 120px 90px;background-image: linear-gradient(to top, #ffffff, #fff, #1f7a610f, #1f7a610f, #1f7a610f);}
.how-we-help-sec .main-row {align-items: center;}
.how-help-content h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;}
.how-help-content span {color: #1F7A61;}
.how-help-content p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 20px 0 13px;width: 77%;}
.how-help-content li {font-size: 18px;font-weight: 500;color: #808080;font-family: 'DM Sans', sans-serif;padding: 6px 0;text-transform: uppercase;}
.how-help-content i {font-size: 8px;color: #1F7A61;vertical-align: middle;margin-right: 7px;}
/*HOW WE HELP SECTION CSS END*/
/*LETS  WORK TOGETHER SECTION BEGIN*/
.lets-work-together-sec {padding: 20px 200px 0;}
.work-inner-box {background: #FAFAFA;box-shadow: 0 0 13px 1px #00000026;border-radius: 30px;padding: 60px 40px;text-align: center;position: relative;overflow: hidden;z-index: 1;}
.work-inner-box:before {position: absolute;top: 0px;left: -10px;width: 159px;height: 139px;content: "";background-image: url("../images/ds1.png");background-repeat: no-repeat;}
.work-inner-box:after {position: absolute;bottom: -2px;right: -22px;width: 139px;height: 110px;content: "";background-image: url("../images/ds2.png");background-repeat: no-repeat;}
.work-inner-box h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;display: inline-block;position: relative;}
.work-inner-box h2:before {position: absolute;top: -13px;left: 184px;width: 109px;height: 2px;content: "";background-color: #1F7A61;}
.work-inner-box p {color: #808080;font-family: 'DM Sans', sans-serif;width: 58%;margin: 26px auto;}
.work-btn .btn-primary {font-size: 17px;font-weight: 700;color: #1F7A61 !important;font-family: 'DM Sans', sans-serif;background-color: #fff !important;padding: 15px 50px;border-radius: 25px;border-color: #1F7A61 !important;}
/*LETS  WORK TOGETHER SECTION END*/
/*SEO SECTION CSS BEGIN*/
.seo-sec {position: relative;padding: 120px 120px;background-image: url("../images/seo-banner.png");background-repeat: no-repeat;background-size: cover;background-position: center;margin-top: -100px;}
.seo-sec:before {content: "";position: absolute;top: 130px;left: -170px;width: 30%;height: 83%;background-image: url("../images/seo-animal.png");background-repeat: no-repeat;}
.seo-sec .row {align-items: center;}
.seo-content {margin-left: 185px;}
.seo-content h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;display: inline-block;position: relative;text-transform: uppercase;}
.seo-content p {color: #808080;font-family: 'DM Sans', sans-serif;width: 81%;padding: 14px 0;}
.seo-btn .btn-primary {background-color: transparent !important;}
/*SEO SECTION CSS END*/
/*NEWSLETTER SECTION CSS BEGIN*/
.newsletter-sec {background-color: #327A56;margin: -60px 0 0;padding: 160px 302px 120px;}
.newsletter-form h2 {font-size: 60px;font-weight: 700;color: #fff;font-family: 'DM Sans', sans-serif;}
.newsletter-form p {color: #fff;font-family: 'DM Sans', sans-serif;}
.newsletter-flex-div {display: flex;align-items: center;justify-content: space-between;}
.newsletter-field {width: 30%;}
.input-text-field {display: flex;align-items: center;}
.newsletter-field .form-control {display: block;width: 100%;height: auto;padding: 10px 40px 3px 10px;font-size: 16px;font-weight: 400;line-height: 1.5;color: #fff;background-color: transparent;border-radius: 0;transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;border-top: 0;border-left: 0;border-right: 0;border-bottom: 1px solid #fff;font-family: 'DM Sans', sans-serif;}
.newsletter-field .form-control:focus {color: #fff !important;background-color: transparent !important;border-color: #fff !important;outline: 0;box-shadow: none !important;}
.newsletter-field .form-control::placeholder {color: #fff !important}
.newsletter-field .btn:not(:disabled):not(.disabled) {background-color: transparent;border-color: transparent;box-shadow: none;}
.newsletter-field .error-email li {color: #fff !important;margin-top: 7px;}
.newsletter-field .btn-primary:not(:disabled):not(.disabled):active {background-color: transparent;border-color: transparent;}
.newsletter-field .btn-primary:not(:disabled):not(.disabled):active:focus {box-shadow: none;}
.newsletter-field .btn-primary {margin-left: -40px;color: #64F4AB !important;}
/*NEWSLETTER SECTION CSS END*/
/*WEB DESIGN SECTION CSS BEGIN*/
.webdesign-btn .btn-primary {background-color: #1F7A61 !important;color: #fff !important;}
.webdesign-sec {padding: 80px 240px 230px;position: relative;}
.webdesign-sec .row {display: flex;align-items: center;}
.webdesign-content h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;display: inline-block;position: relative;}
.webdesign-content p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 14px 0;width: 71%;}
.webdesign-sec:after {content: "";position: absolute;top: 80px;right: -140px;width: 30%;height: 83%;background-image: url(../images/webpanda.png);background-repeat: no-repeat;}
/*WEB DESIGN SECTION CSS END*/
/*SOCIAL MEDIA SECTION BEGIN*/
/*SOCIAL MEDIA SECTION END*/
/*PAID ADVERTISEMENT SECTION CSS BEGIN*/
.paid-advertisement-sec {padding: 80px 240px 150px;}
/*PAID ADVERTISEMENT SECTION CSS END*/
/*BUSINESS JOURNEY SECTION CSS BEGIN*/
.jour-flex {background: #FAFAFA;box-shadow: 0 0 13px 1px #00000026;border-radius: 30px;padding: 60px 180px;text-align: left;position: relative;overflow: hidden;z-index: 1;display: flex;align-items: center;justify-content: space-between;}
.jour-flex:before {position: absolute;top: 0px;left: -10px;width: 159px;height: 139px;content: "";background-image: url(../images/ds1.png);background-repeat: no-repeat;}
.jour-flex:after {position: absolute;bottom: -2px;right: -22px;width: 139px;height: 110px;content: "";background-image: url(../images/ds2.png);background-repeat: no-repeat;}
.business-journey-sec {padding: 40px 200px;}
.work-inner-box1 h2 {font-size: 41px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;}
.work-inner-box1 span {display: block;}
.work-inner-box1 p {color: #808080;font-family: 'DM Sans', sans-serif;width: 81%;padding: 14px 0 0;width: 79%;}
.work-inner-box1 {width: 74%;}
.jour-flex .work-btn .btn-primary {text-transform: uppercase;background-color: transparent;}
/*BUSINESS JOURNEY SECTION CSS END*/
/*LATEST BLOGS SECTION CSS BEGIN*/
.latest-blog-sec {padding: 70px 120px;}
.latest-blog-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-align: center;}
.latest-blog-content span {color: #1F7A61;}
.blog-box-contents img {width: 100%;}
.blog-box-contents h4 {font-size: 28px;font-weight: 500;color: #070707;width: 67%;padding: 30px 0 10px;}
.blog-box-contents p {font-size: 15px;color: #808080;width: 78%;}
.blog-box-contents a {font-size: 14px;font-weight: 500;color: #1F7A61;}
.images-row {margin-top: 55px;}
.blog-box-contents:hover {cursor: pointer;box-shadow: 0 0 18px 2px #00000042;transform: scale(1.1);padding: 30px 30px;border-radius: 14px;}
.blog-box-contents:hover p {width: 80% !important;}
.blog-box-contents {transition: 0.6s all ease-in-out;overflow: hidden;}
.blog-view-all {text-align: center;margin-top: 84px;}
.blog-view-all .btn-primary {font-size: 17px;font-weight: 700;color: #1F7A61 !important;font-family: 'DM Sans', sans-serif;background-color: #fff !important;padding: 15px 60px;border-radius: 25px;border-color: #1F7A61 !important;}
/*LATEST BLOGS SECTION CSS END*/
/*FOOTER SECTION CSS BEGIN*/
footer {background-color: #F3F8F7;padding: 60px 120px 0px;}
.footer-first-contemt p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 34px 0 10px;width: 78%;font-size: 15px;}
.footer-first-contemt .rd-mr {color: #808080;font-family: 'DM Sans', sans-serif;text-decoration: underline !important;font-size: 15px;}
.footer-first-contemt li {display: inline-block;padding: 0 18px 0 0px;}
.footer-first-contemt a {font-size: 20px;color: #1F7A61;}
.qc-links h4 {font-size: 25px;font-weight: 700;color: #070707;}
.qc-links li {padding: 0 0 7px;}
.qc-links a {font-size: 16px;font-weight: 400;color: #808080;}
.qc-links a:hover {color: #1F7A61;}
.qc-links ul {margin-top: 42px;}
.qc-links i {margin-right: 5px;color: #1F7A61;}
.k13-link {border-top: 1px solid #80808059;margin-top: 32px;}
.k13-link p {font-size: 15px;color: #808080;text-align: center;padding-top: 17px;}
.k13-link a:hover {color: #1F7A61;}
.k13-link a {color: #808080;}
/*FOOTER SECTION CSS END*/
/*HOME PAGE CSS END*/

/*WEB DESIGN PAGE CSS BEGIN*/
.web-design-banner-sec {position: relative;padding: 0 250px 0;background-image: url("../images/wb-des-banner.png");background-repeat: no-repeat;background-size: cover;background-position: center;height: 83vh;display: flex;align-items: center;overflow: hidden;}
.web-design-banner-sec:before {content: "";position:absolute;top:0;left:0;width: -webkit-fill-available;height: -webkit-fill-available;background-image:url("../images/banner-design.png");background-repeat:no-repeat;z-index: 0;}
.web-design-banner-sec .row {display: flex;align-items: center;}
.web-design-ban h2 {font-size: 80px;font-weight: 700;color: #070707;text-transform: uppercase;}
.web-col-cont {padding: 80px 120px;background-image: linear-gradient(to top, #ffffff, #fff, #1f7a610f, #1f7a610f, #1f7a610f);}
.web-col-cont p {font-size: 15px;color: #808080;width: 59%;margin: 0 auto;text-align: center;}
.web-des-pro-sec {padding: 30px 120px 130px;}
.web-inner-cont-head h2 {font-size: 50px;font-weight: 700;color: #070707;text-transform: uppercase;text-align: center;}
.web-inner-cont-head span {color: #1F7A61;}
.lft-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-transform: uppercase;margin-bottom: 30px;}
.lft-content p {font-size: 15px;color: #808080;width: 74%;}
.lft-content span {display: block;}
.lft-one-row {align-items: center;padding: 80px 0 0;}
.testing-sec {padding: 70px 120px 20px;}
.testing-sec .row {align-items: center;}
.launch-secc {padding: 0px 120px 40px;}
.launch-secc .row {align-items: center;}
.businessv2 {margin-bottom: 50px;}
/*WEB DESIGN PAGE CSS END*/

/*PPC PAGE CSS BEGIN*/
.ppc-paid-sec {padding: 70px 120px;background-image: linear-gradient(to top, #ffffff, #fff, #1f7a610f, #1f7a610f, #1f7a610f);}
.ppc-paid-sec .row {align-items: center;}
.ppc-method-sec {padding: 20px 120px 140px;position: relative;}
.ppc-method-sec:after {content: "";position:absolute;bottom: -30px;right: -50px;width: 20%;height: 76%;background-image:url("../images/small-kola.png");background-repeat:no-repeat;z-index: 0;}
.ppc-method-sec .row {align-items: center;}
.method-heading-cont h2 {font-size: 50px;font-weight: 700;color: #070707;text-transform: uppercase;text-align: center;margin-bottom: 65px;}
.method-heading-cont span {color: #1F7A61;}
.bn-new-img {position: relative;}
.bn-inner-one {position: absolute;top: 0;left: 0;z-index: -1;}
.bn-inner-two {position: absolute;bottom: 30px;right: 10px;z-index: -1;}
.webdesign-content span {display: block;}
.budget-v1 h2 {font-size: 38px;text-transform: uppercase;}
.budget-v1 p {margin-bottom: 0;width: 63%;}
.seo-content span {display: block;}
.perform-paid-sec {background-image: url("../images/cx1.png");background-position: bottom;padding: 120px 120px 230px;}
.perform-paid-sec .seo-content h2 {text-transform: uppercase;font-size: 42px;}
.perform-paid-sec .seo-content p {width: 88%;}
.newsletterv3-sec {margin: -71px 0 0;}
.ppc-plan-sec {padding: 120px 120px;}
.account-structure-sec {margin-top: 0;}
.rate-ads-sec {padding: 100px 120px 100px;}
/*PPC PAGE CSS END*/

/*SOCIAL MEDIA PAGE CSS BEGIN*/
.web-design-ban span {display: block;font-size: 25px;font-weight: 500;color: #070707;text-transform: uppercase;margin-left: 80px;}
.social-media-banner-girl img {display: block;margin: 0 0 0 auto;width: 52%;}
.social-help-main {padding-top: 104px;padding-bottom: 120px;}
.social-newsletter-sec {background-image: url("../images/sc-op.png");background-position: center;background-repeat: no-repeat;background-size: cover;}
.social-newsletter-sec .newsletter-form h2 {color: #000000;}
.social-newsletter-sec .newsletter-form p {color: #000000;}
.social-newsletter-sec .newsletter-field .form-control {color: #000000 !important;border-bottom: 1px solid #000000;}
.social-newsletter-sec .newsletter-field .form-control::placeholder {color: #000000 !important;}
.social-newsletter-sec .newsletter-field .btn-primary {color: #327A56 !important;}
.process-we-use-sec {background-color: #327A56;padding: 80px 120px;}
.process-we-use-content h2 {font-size: 35px;font-weight: 700;color: #fff;text-transform: uppercase;text-align: center;}
.process-we-use-content p {font-size: 15px;color: #fff;text-align: center;width: 50%;margin: 26px auto 0 auto;}
.inner-pc-content p {font-size: 15px;color: #fff;width: 76%;padding: 0 0 24px;}
.inner-pc-img img {display: block;margin: 0 auto 0 auto;}
.inner-pc-row {margin-top: 90px;}
.services-based-sec-ot {padding: 80px 120px;}
.service-based-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-align: center;text-transform: uppercase;}
.service-based-content span {color: #1F7A61;}
.service-based-content p {font-size: 15px;color: #808080;text-align: center;width: 52%;margin: 20px auto 50px auto;}
.service-box-row {margin-top: 32px;}
.service-inner-box {box-shadow: 0 0 12px 2px #0000001f;border-radius: 17px;padding: 70px 0;min-height: 248px;}
.service-inner-box h5 {font-size: 25px;font-weight: 700;color: #1F7A61;text-align: center;}
.service-inner-box p {font-size: 15px;color: #808080;text-align: center;width: 67%;margin: 20px auto 0 auto;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;}
/*SOCIAL MEDIA PAGE CSS END*/

/*BRANDING PAGE CSS BEGIN*/
.lft-new-row {position: relative;height: 100vh;}
.lft-new-row:after {content: "";position: absolute;bottom: -70px;right: -120px;width: 48%;height: 101%;background-image: url("../images/bc2.png");background-repeat: no-repeat;background-position: center;background-size: cover;}
.corporate-sec {padding: 80px 120px;}
.corporate-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-transform: uppercase;text-align: center;}
.corporate-content span {color: #1F7A61;}
.corporate-content p {font-size: 15px;color: #808080;width: 59%;margin: 0 auto;text-align: center;}
.corporate-icons-row {margin: 75px 0 0;padding: 0 100px;}
.corporate-img-txt img {display: block;margin: 0 auto 27px auto;}
.corporate-img-txt h5 {font-size: 22px;font-weight: 700;color: #1F7A61;text-align: center;}
/*BRANDING PAGE CSS END*/

/*ABOUT US PAGE CSS BEGIN*/
.ab-pg-banner .web-design-ban-img img {display: block;margin: 50px auto 0 auto;}
.sp-br-rs {color: #327A56;display: inline-block !important;}
.resultv1-sec .lft-one-row {padding-top: 0;}
.meet-our-team-sec {padding: 20px 120px 80px;}
.meet-our-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-align: center;text-transform: uppercase;}
.meet-our-content span {color: #327A56;}
.meet-team-members {margin-top: 80px;}
.meet-team-members img {width: 100%;}
.as-seen-on-sec .col-lg-3 {max-width: 20%;}
.as-seen-on-sec img {width: 60%;display: block;margin: 0 auto 0 auto;}
.testimonial-sec {padding: 40px 120px 90px;}
.testimonial-heading h2 {font-size: 50px;font-weight: 700;color: #070707;text-align: center;text-transform: uppercase;}
.testimonial-box p {font-size: 15px;color: #808080;text-align: center;}
.testimonial-box h6 {font-size: 22px;font-weight: 700;color: #070707;text-align: center;padding: 40px 0 0;position: relative;display: inline-block;}
.testimonial-box h6:before {content: "";position: absolute;top: 10px;left: -30px;width: 192px;height: 2px;background-color: #327A56;}
.testimonial-box span {font-size: 15px;font-weight: 400;color: #808080;display: block;text-align: center;}
.testimonial-box {position: relative;box-shadow: 0 0 20px 2px #0000001f;border-radius: 25px;padding: 110px 160px;margin: 60px 70px 0;text-align: center;}
.quote-img {position: absolute;top: -40px;left: 110px;width: 8%;height: 26%;}
.testimonial-sec .wrapper{width:100%;padding-top: 20px;text-align:center;}
.testimonial-sec .carousel{width:90%;margin:0px auto;}
.testimonial-sec .slick-slide{margin:10px;}
.testimonial-sec .slick-slide img{width:100%;}
.testimonial-sec .slick-dots li button {background: #317854;border-radius: 50%;}
.testimonial-sec .slick-dots {bottom: 46px;}
.testimonial-sec .slick-dots li.slick-active button {background: transparent;}
.testimonial-sec .slick-dots li.slick-active {border: 2px solid #317854;border-radius: 50%;}
/*ABOUT US PAGE CSS END*/

/*SEO PAGE CSS BEGIN*/
.seo-man-banner-sec .social-media-banner-girl img {width: 58%;}
.offsite-seo-sec {margin-top: -50px;margin-bottom: 70px;}
.ranking-seo-sec {margin-top: -10px;}
.keyword-seo-sec {padding-top: 80px;padding-bottom: 80px;}
.links-seo-sec {margin-top: 20px;margin-bottom: 60px;}
.seo-method-together-sec {position: relative;background-image: url("../images/seo-map.png");background-repeat: no-repeat;background-size: contain;background-position: center;padding: 0 120px 90px;margin-top: 120px;margin-bottom: 70px;}
.methods-content h2 {font-size: 50px;font-weight: 700;color: #070707;text-transform: uppercase;text-align: center;margin-bottom: 65px;}
.methods-content span {color: #1F7A61;}
.method-imags img {width: 100%;margin: 80px 0 110px;}
/*SEO PAGE CSS END*/