/* @import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*font-family: 'Hind', sans-serif;*/
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');  */
/*font-family: 'Poppins', sans-serif;*/
html {overflow-x: hidden;scroll-behavior: smooth;}
body {font-family: 'Hind', sans-serif;} 
p {font-size: 16px;font-weight: 500;margin-bottom: 0;line-height: 42px;}
ul {padding-left: 0;list-style: none;}
li {font-size: 15px;font-weight: 400;}
label {font-size: 16px;font-weight: 500;}
input {outline: none;font-weight: 400 !important;font-size: 14px !important;}
select {outline: none;font-weight: 400;font-size: 15px;color: #000;}
a {outline: none;text-decoration: none;font-size: 20px !important;font-weight: 400;color: #716C6C;transition: 0.8s all ease-in-out;}
a:hover, a:focus{text-decoration: none;}
