@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/*font-family: 'DM Sans', sans-serif;*/


html {overflow-x: hidden;scroll-behavior: smooth;}
body {font-family: 'DM Sans', sans-serif;}
h1{font-size: 60px;font-weight: 700;line-height: 60px;}
h2 {font-size: 60px;font-weight: 700;line-height: 45px;} 
h3 {font-size: 35px;font-weight: 700;}
h4{font-size: 30px;font-weight: 600;}
h5{font-size: 24px;font-weight: 500;}
h6 {font-size: 24px;font-weight: 700;margin-bottom: 0;}
p {font-size: 17px;font-weight: 400;margin-bottom: 0;line-height: 29px;}
ul {padding-left: 0;list-style: none;margin-bottom: 0;}
li {font-size: 15px;font-weight: 400;color: #000;}
label {font-size: 16px;font-weight: 500;color: #000;}
input {outline: none;font-weight: 400;font-size: 15px;color: #000;}
select {outline: none;font-weight: 400;font-size: 15px;color: #000;}
a {font-family: 'Inter', sans-serif;outline: none;text-decoration: none;font-size: 14px;font-weight: 600;color: #1a1a1ab0;transition: 0.6s all ease-in-out;}
a:hover, a:focus{text-decoration: none;}
.btn-primary:hover, .btn-primary:focus {background-color: #EF5375;border-color: transparent;box-shadow: none;}
.btn:not(:disabled):not(.disabled) {background-color: #EF5375;border-color: transparent;box-shadow: none;}
.compensate-for-scrollbar {position: inherit !important;margin: 0 !important;padding: 0 !important;}
.btn-primary:not(:disabled):not(.disabled):active {background-color: #EF5375;border-color: transparent;outline: none;box-shadow: none;}
.screen-bg.modal-open {margin:  0 !important;padding: 0 !important;}
.btn-primary:not(:disabled):not(.disabled):active:focus {box-shadow: none;}
/*HOME PAGE CSS BEGIN*/
/*HEADER SECTION CSS BEGIN*/
.search-bar-div a:hover {color: #01B7E3;}
.main-header-div {position: fixed;top: 0;left: 0;width: 100%;height: auto;z-index: 999;background-color: #fff;box-shadow: 0 0 2px 2px #00000038;}
header {padding: 32px 120px;position: absolute;top: 0;left: 0;width: 100%;z-index: 1;}
.head_container{padding: 0;overflow: hidden;display: flex;align-items: center;justify-content: space-between;}
.logo{float:left;margin-left: 0;}
.logo img{height: 50px;}
.menu{margin-top:5px;float:right;}
.menu ul{list-style-type: none;margin-right: -10px;}
.menu li{display: inline;margin-right: 40px;}
.menu a{text-decoration: none;font-weight: 400;color: #070707 !important;padding:10px;padding-left: 15px;padding-right: 15px;text-transform: uppercase;font-size: 17px;font-family: 'DM Sans', sans-serif;}
.menu a:hover {transition: 0.6s all ease-in-out;color: #01B7E3;}
.icon{display: none;}
menu.responsive{position: relative;}
menu.responsive{float: none;display: block;text-align: left;}
@media screen and (max-width: 835px) {
.logo img {height: 40px;}
ul > li:first-of-type{display:none;}
.menu{margin:0;}
}
@media screen and (max-width: 690px) {
.menu li{display: none;}
.icon{font-weight: 900 !important;font-size: 27px !important;padding: 0;margin: 0;margin-top: -22px;display: flex;}
.logo img {height: 40px;}
}
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #fff;overflow-x: hidden;transition: 0.2s;padding-top: 87px;box-shadow: 2px 8px 20px rgba(0, 0, 0, 0.24);}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;display: block;transition: 0.3s;text-transform: uppercase;font-size: 18px;font-family: 'Rajdhani', sans-serif;font-weight: 600;color: #1A1A1A;}
.sidenav a:hover, .offcanvas a:focus{color: #F7CA18;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#search {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background-color: rgba(0, 0, 0, 0.7);-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-ms-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-webkit-transform: translate(0px, -100%) scale(0, 0);-moz-transform: translate(0px, -100%) scale(0, 0);-o-transform: translate(0px, -100%) scale(0, 0);-ms-transform: translate(0px, -100%) scale(0, 0);transform: translate(0px, -100%) scale(0, 0);opacity: 0;z-index: 999;}
#search input[type=search] {position: absolute;top: 50%;width: 100%;color: white;background: rgba(0, 0, 0, 0);font-size: 60px;font-weight: 300;text-align: center;border: 0px;margin: 0px auto;margin-top: -51px;padding-left: 30px;padding-right: 30px;outline: none;}
#search .btn {position: absolute;top: 50%;left: 50%;margin-top: 61px;margin-left: -50px;background-color: #01B7E3;border: #01B7E3;text-transform: uppercase;font-size: 18px;font-family: 'Rajdhani', sans-serif;font-weight: 600;padding: 10px 38px;border-radius: 6px;}
#search .close {position: fixed;top: 15px;right: 15px;color: #fff;background-color: #01B7E3;border-color: #01B7E3;opacity: 1;padding: 10px 17px;font-size: 27px;}
#search.open {-webkit-transform: translate(0px, 0px) scale(1, 1);-moz-transform: translate(0px, 0px) scale(1, 1);-o-transform: translate(0px, 0px) scale(1, 1);-ms-transform: translate(0px, 0px) scale(1, 1);transform: translate(0px, 0px) scale(1, 1);opacity: 1;}
.search-bar-div a {font-size: 25px;}
/*HEADER SECTION CSS END*/
/*BANNER SECTION CSS BEGIN*/
.banner-sec {position: relative;background: url("../images/banner.png");background-repeat:no-repeat;background-size:cover;background-position:center;padding: 0 120px;height: auto;position: relative;overflow: hidden;}
.banner-sec:before {content: "";position:absolute;top:0;left:0;width: -webkit-fill-available;height: -webkit-fill-available;background-image:url("../images/banner-design.png");background-repeat:no-repeat;z-index: 0;}
.banner-inner-content p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 40px 0 30px;width: 86%;}
.banner-btn .btn-primary {font-size: 17px;font-weight: 700;color: #1F7A61 !important;font-family: 'DM Sans', sans-serif;background-color:  #fff !important;padding: 15px 65px;border-radius: 25px;}
.girl-img img {display: block;margin: 0 auto 0 auto;width: 73%;display: flex;align-items: flex-end;height: 100vh;object-fit: contain;margin-top: 124px;}
.banner-inner-content {height: 100vh;display: flex;align-items: flex-start;flex-direction: column;justify-content: center;text-align: left;}
/*BANNER SECTION CSS END*/
/*HOW WE HELP SECTION CSS BEGIN*/
.help-imgs .row {align-items: center;}
.help-imgs .col-lg-6 {padding: 0 12px;}
.right-side {display: block;margin: 0 0 0 auto;}
.bottom-side {margin: 0 0 26px;}
.how-we-help-sec {padding: 60px 120px 90px;background-image: linear-gradient(to top, #ffffff, #fff, #1f7a610f, #1f7a610f, #1f7a610f);}
.how-we-help-sec .main-row {align-items: center;}
.how-help-content h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;}
.how-help-content span {color: #1F7A61;}
.how-help-content p {color: #808080;font-family: 'DM Sans', sans-serif;padding: 20px 0 13px;width: 77%;}
.how-help-content li {font-size: 18px;font-weight: 500;color: #808080;font-family: 'DM Sans', sans-serif;padding: 6px 0;}
.how-help-content i {font-size: 8px;color: #1F7A61;vertical-align: middle;margin-right: 7px;}
/*HOW WE HELP SECTION CSS END*/
/*LETS  WORK TOGETHER SECTION BEGIN*/
.lets-work-together-sec {padding: 20px 120px 0;}
.work-inner-box {background: #FAFAFA;box-shadow: 0 0 13px 1px #00000026;border-radius: 30px;padding: 60px 40px;text-align: center;position: relative;overflow: hidden;z-index: 1;}
.work-inner-box:before {position: absolute;top: 0px;left: -10px;width: 159px;height: 139px;content: "";background-image: url("../images/ds1.png");background-repeat: no-repeat;}
.work-inner-box:after {position: absolute;bottom: -2px;right: -22px;width: 139px;height: 110px;content: "";background-image: url("../images/ds2.png");background-repeat: no-repeat;}
.work-inner-box h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;display: inline-block;position: relative;}
.work-inner-box h2:before {position: absolute;top: -13px;left: 184px;width: 109px;height: 2px;content: "";background-color: #1F7A61;}
.work-inner-box p {color: #808080;font-family: 'DM Sans', sans-serif;width: 58%;margin: 26px auto;}
.work-btn .btn-primary {font-size: 17px;font-weight: 700;color: #1F7A61 !important;font-family: 'DM Sans', sans-serif;background-color: #fff !important;padding: 15px 50px;border-radius: 25px;border-color: #1F7A61 !important;}
/*LETS  WORK TOGETHER SECTION END*/
/*SEO SECTION CSS BEGIN*/
.seo-sec {position: relative;padding: 120px 120px;background-image: url("../images/seo-banner.png");background-repeat: no-repeat;background-size: cover;background-position: center;margin-top: -100px;}
.seo-sec:before {content: "";position: absolute;top: 130px;left: -170px;width: 30%;height: 83%;background-image: url("../images/seo-animal.png");background-repeat: no-repeat;}
.seo-sec .row {align-items: center;}
.seo-content {margin-left: 185px;}
.seo-content h2 {font-size: 50px;font-weight: 700;color: #070707;font-family: 'DM Sans', sans-serif;display: inline-block;position: relative;}
.seo-content p {color: #808080;font-family: 'DM Sans', sans-serif;width: 81%;padding: 14px 0;}
.seo-btn .btn-primary {background-color: transparent !important;}
/*SEO SECTION CSS END*/
/*NEWSLETTER SECTION CSS BEGIN*/


/*NEWSLETTER SECTION CSS END*/

/*HOME PAGE CSS END*/